{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>category</title>
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
  </head>
  <body>
    <div class="LOGO">
        <img src="../../static/images/UI/pole.png" alt="BINGO" id="bingo">
    </div>
    <div class = "line1">
      <ul>
        <button class = "toys" type="button" name="button" onclick="location.href='./toy/{{mode}}'" src=""></button>
        <button class = "movies"type="button" name="button" onclick="location.href='./movie/{{mode}}'" src=""></button>
        <button class = "snacks" type="button" name="button" onclick="location.href='./snacks/{{mode}}'" src=""></button>
      </ul>
    </div>
    <div class = "line2">
      <ul>
        <button class = "histories" type="button" name="button" onclick="location.href='./history/{{mode}}'" src=""></button>
        <button class = "singers" type="button" name="button" onclick="location.href='./singers/{{mode}}'" src=""></button>
        <button class = "stars" type="button" name="button" onclick="location.href='./stars/{{mode}}'" src=""></button>
      </ul>
    </div>
  </body>
</html>
