{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>category</title>
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
  </head>
  <body>
    <!--
    <form class="" action="{mode}.py" method="post">
      <input type="hidden" name="category" value="toy">
      <input type="submit" name="" value="Toy">
    </form>
    <form class="" action="{mode}.py" method="post">
      <input type="hidden" name="category" value="movie">
      <input type="submit" name="" value="Movie">
    </form>
  -->
  <div class="LOGO">
      <img src="../../static/images/UI/pole.png" alt="BINGO" id="bingo">
  </div>
  <div class = "line1">
    <ul>
      <button class = "toys" type="button" name="button" onclick="location.href='./Toy/{{mode}}'" src=""></button>
      <button class = "movies"type="button" name="button" onclick="location.href='./Movie/{{mode}}'" src=""></button>
      <button class = "snacks" type="button" name="button" onclick="location.href='./Snacks/{{mode}}'" src=""></button>
    </ul>
  </div>
  <div class = "line2">
    <ul>
      <button class = "histories" type="button" name="button" onclick="location.href='./History/{{mode}}'" src=""></button>
      <button class = "singers" type="button" name="button" onclick="location.href='./Singers/{{mode}}'" src=""></button>
      <button class = "stars" type="button" name="button" onclick="location.href='./Stars/{{mode}}'" src=""></button>
    </ul>
  </div>
  </body>
</html>
