{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bingo</title>
    <link rel="stylesheet" href="{% static 'css/manager.css' %}">
    <script type="text/javascript" src="{% static 'js/manager.js' %}"></script>
  </head>
  <body>
    {{category}}
    <button type="button" class='index' name="button" onclick="location.href='./index'" src=""></button>
    <img onclick="onClick()" src="../../static/images/UI/next.png" class="next">
    <img class="screen" src="../../static/images/UI/blank.png" id = "img0">
  </body>
</html>
