{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/player.css' %}">

</head>
<body>

    <div class="images-area" id="dragarea">
      {% with ''|center:category_pictures as range %}
      {% for _ in range %}
        <img src="../../static/images/{{category}}/img{{forloop.counter|add:"-1"}}.jpg" id="img{{forloop.counter|add:"-1"}}" alt="" onclick="imgClick('img{{forloop.counter|add:"-1"}}')">
      {% endfor %}
      {% endwith %}
    </div>
    {% with ''|center:9 as range %}
    {% for _ in range %}
      <div class="class-drop{{forloop.counter|add:"-1"}}" id="droparea{{forloop.counter|add:"-1"}}"></div>
    {% endfor %}
    {% endwith %}
    <script type="text/javascript" src="{% static 'js/player.js' %}" charset="Shift-JIS"></script>
    <img id = "btn_n"class="btn" src="../../static/images/UI/game_start.jpg" alt="" onclick="Gamestart()">

    <img id="line" class="line_n" src="../../static/images/UI/line.jpg" >
    <img id="zero" class="zero_r" src="../../static/images/UI/0.jpg" >
    <img id="one" class="one_n" src="../../static/images/UI/1.jpg" >
    <img id="two" class="two_o" src="../../static/images/UI/2.jpg" >
    <img id="three" class="three_e" src="../../static/images/UI/3.jpg" >
    <a href="../"><img id="win" class= "win_n" src="../../static/images/UI/win.jpg" onclick="change_window()"></a>

</body>

</html>
