{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bingo</title>
    <link rel="stylesheet" href="{% static 'css/top.css' %}">
  </head>
  <body>
    <div class="LOGO">
      <img src="../../static/images/UI/logo.png" alt="BINGO" id="bingo">
    </div>
    <button type="button" name="button" onclick="location.href='./player/category'" src="">player</button>
    <button type="button" name="button" onclick="location.href='./manager/category'" src="">manager</button>
    <!--
      <form class="PLAYER" action="./category/player" method="post">
        <input type="submit" name="submitplayer" value="" id="player">
      </form>
      <form class="MANAGER" action="./category/manager" method="post">
        <input type="submit" name="submitmanager" value="" id="manager">
      </form>
    -->
  </body>
</html>
