{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bingo</title>
    <link rel="stylesheet" href="{% static 'css/top.css' %}">
  </head>
  <body>
    <div class="LOGO">
      <img src="../../static/images/UI/logo.png" alt="BINGO" id="bingo">
    </div>
    <button class = "player" type="button" name="button" onclick="location.href='./player/category'" src=""></button>
    <button class = "manager" type="button" name="button" onclick="location.href='./manager/category'" src=""></button>
  </body>
</html>
