body {
    position: relative;
    background-image:url("../images/UI/board.jpg");
    background-size:100%;
    background-repeat:no-repeat;
}

.images-area,
.class-drop0,
.class-drop1,
.class-drop2,
.class-drop3,
.class-drop4,
.class-drop5,
.class-drop6,
.class-drop7,
.class-drop8 {
    padding: 1px;
    /*border: 1px solid gray;*/
    width: 22%;
}



.images-area {
    position: absolute;
    top: 17vw;
    left: 2%;
    float: left;
    overflow: auto;
    -ms-overflow-style:none;
    height: 50vw;
    background-color: rgba(255,255,255,0);
    margin-right: 250px;
}

.images-area::-webkit-scrollbar{
    display:none;
}

.class-drop0,
.class-drop1,
.class-drop2,
.class-drop3,
.class-drop4,
.class-drop5,
.class-drop6,
.class-drop7,
.class-drop8 {
    height:20.7vw;
    margin-bottom: 5px;
    background-color: rgba(255,255,255,0);
}



.class-drop0 {
    position: absolute;
    top: 2.7vw;
    left: 26.8%;
}

.class-drop1 {
    position: absolute;
    top: 2.7vw;
    left: 50.2%;
}

.class-drop2 {
    position: absolute;
    top: 2.7vw;
    left: 74%;
}

.class-drop3 {
    position: absolute;
    top: 24.85vw;
    left: 26.8%;
}

.class-drop4 {
    position: absolute;
    top: 24.85vw;
    left: 50.2%;
}

.class-drop5 {
    position: absolute;
    top: 24.85vw;
    left: 74%;
}

.class-drop6 {
    position: absolute;
    top: 47.4vw;
    left: 26.8%;
}

.class-drop7 {
    position: absolute;
    top: 47.4vw;
    left: 50.2%;
}

.class-drop8 {
    position: absolute;
    top: 47.4vw;
    left: 74%;
}


.btn {
    position: absolute;
    top: 4vw;
    left: 2%;
    width:24%;
    height:auto;
}




.line_n {
    position: absolute;
    top: 13%;
    left: 1%;
    width:24%;
    height:auto;
}

.zero_r {
    position: absolute;
    top: 27vw;
    left: 1%;
    width:24%;
    height: auto;
}

.one_n {
    position: absolute;
    top: 27vw;
    left: 1%;
    width:24%;
    height: auto;
}

.two_o {
    position: absolute;
    top: 27vw;
    left: 1%;
    width:24%;
    height: auto;
}

.three_e {
    position: absolute;
    top: 27vw;
    left: 1%;
    width:24%;
    height: auto;
}

.win_n {
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:auto;
}

div.LOGO{
    text-align: center;
  }
  img#bingo{
    width: 240px;
    height: 540px;
    opacity:0;
  }
