body {
    position: relative;
    background-image:url("../images/UI/board.jpg");
    background-size:auto;
    background-repeat:no-repeat;
}

.images-area,
.class-drop0,
.class-drop1,
.class-drop2,
.class-drop3,
.class-drop4,
.class-drop5,
.class-drop6,
.class-drop7,
.class-drop8 {
    paddaing: 10px;
    border: 1px solid gray;
    width: 580px;
}


.images-area {
    position: absolute;
    top: 400px;
    left: 90px;
    float: left;
    overflow: auto;
    height: 1520px;
    background-color: rgba(255,255,255,0);
    margin-right: 250px;
}

.class-drop0,
.class-drop1,
.class-drop2,
.class-drop3,
.class-drop4,
.class-drop5,
.class-drop6,
.class-drop7,
.class-drop8 {
    margin-bottom: 5px;
    height: 580px;
    background-color: rgba(255,255,255,0);
}



.class-drop0 {
    position: absolute;
    top: 95px;
    left: 730px;
}

.class-drop1 {
    position: absolute;
    top: 95px;
    left: 1360px;
}

.class-drop2 {
    position: absolute;
    top: 95px;
    left: 2000px;
}

.class-drop3 {
    position: absolute;
    top: 715px;
    left: 730px;
}

.class-drop4 {
    position: absolute;
    top: 715px;
    left: 1360px;
}

.class-drop5 {
    position: absolute;
    top: 715px;
    left: 2000px;
}

.class-drop6 {
    position: absolute;
    top: 1350px;
    left: 730px;
}

.class-drop7 {
    position: absolute;
    top: 1350px;
    left: 1360px;
}

.class-drop8 {
    position: absolute;
    top: 1350px;
    left: 2000px;
}


.btn {
    position: absolute;
    top: 95px;
    left: 100px;
    height:320px;
}




.line_n {
    position: absolute;
    top: 200px;
    left: 60px;
    height: 650px;
}

.zero_r {
    position: absolute;
    top: 650px;
    left: 60px;
    height: 650px;
}

.one_n {
    position: absolute;
    top: 650px;
    left: 60px;
    height: 650px;
}

.two_o {
    position: absolute;
    top: 650px;
    left: 60px;
    height: 650px;
}

.three_e {
    position: absolute;
    top: 650px;
    left: 60px;
    height: 650px;
}

.win_n {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 2000px;
}
